<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo el botanero</title>
    <link rel="shortcut icon" href="../assets/image/Botanero_favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="u_contenedor">
        <header class="c_head">
            <nav class="menu menu2" id="menu">
                <div class="menu_imagen">
                    <a href="login.html"><img src="../assets/image/Botanero_logo_2.svg" alt=""></a>
                </div>
                <ul class="menu_lista menu_lista2" id="menu_lista">
                    <li><a href="../index.html" class="menu_text">Inicio</a></li>
                    <li><a href="#" class="menu_text">Catálogo</a></li>
                    <li><a href="nosotros.html" class="menu_text">Nosotros</a></li>
                </ul>
            </nav>
        </header>
        <main class="c_body">
            <section class="c_body_buscador">
                <input type="search" name="buscar" id="buscar" class="buscador" placeholder="Enucuentra tu producto favorito..." maxlength="20">
            </section>
            <section class="c_body_catalogo">
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/diablito.webp" alt="">
                    <h4 class="item_titulo">Papas diablito</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/habanero.webp" alt="">
                    <h4 class="item_titulo">Papas habanero.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/habanero_limon.webp" alt="">
                    <h4 class="item_titulo">Papas habanero con limón.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/chipotle.webp" alt="">
                    <h4 class="item_titulo">Papas con chipotle.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/piquin.webp" alt="">
                    <h4 class="item_titulo">Papas piquín.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/fuego.webp" alt="">
                    <h4 class="item_titulo">Papas fuego.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/chile_morita.webp" alt="">
                    <h4 class="item_titulo">Papas chile morita.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/tajin.webp" alt="">
                    <h4 class="item_titulo">Papas tajín.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/takis.webp" alt="">
                    <h4 class="item_titulo">Papas takis.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/jalapeño.webp" alt="">
                    <h4 class="item_titulo">Papas jalapeño.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/adobo.webp" alt="">
                    <h4 class="item_titulo">Papas adobo.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/pizzerola.webp" alt="">
                    <h4 class="item_titulo">Papas pizzerola.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/queso.webp" alt="">
                    <h4 class="item_titulo">Papas queso.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/queso_con_jalapeño.webp" alt="">
                    <h4 class="item_titulo">Papas queso con jalapeño.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/tamarindo.webp" alt="">
                    <h4 class="item_titulo">Papas tamarindo.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/mora_azul.webp" alt="">
                    <h4 class="item_titulo">Papas mora azul.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/tamarindo_dulce.webp" alt="">
                    <h4 class="item_titulo">Papas tamarindo dulce.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/salsa_inglesa.webp" alt="">
                    <h4 class="item_titulo">Papas salsa inglesa.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/naturales.webp" alt="">
                    <h4 class="item_titulo">Papas naturales.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/limon_sal.webp" alt="">
                    <h4 class="item_titulo">Papas lmón y sal.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/fresa.webp" alt="">
                    <h4 class="item_titulo">Papas fresa.</h4>
                    <button>Leer más</button>
                </article>
                <article class="catalogo_item">
                    <img src="../assets/image/fotos/mora_azul.webp" alt="">
                    <h4 class="item_titulo">Papas mora azul.</h4>
                    <button>Leer más</button>
                </article>
            </section>
        </main>
        <footer class="feet">
            <div class="feet_row_datos">
                <span class="feet_d">
                    <img src="../assets/image/Botanero_logo.svg" alt="">
                </span>
                <span class="feet_d">
                    <p>Horarios del local:</p>
                </span>
                <span class="feet_d">
                    <p>Encuentranos en:</p>
                    <p>Blvd. Yancuitlalpan Col, Nuevos Horizontes, Centro, 90500 Huamantla, Tlax.</p>
                </span>
                <span class="feet_d">
                    <p>Nuestras redes sociales:</p>
                    <div>
                        <a href="">
                            <img src="../assets/image/fb_icon.svg" alt="">
                        </a>
                        <a href="">
                            <img src="../assets/image/instagram_icon.svg" alt="">
                        </a>
                    </div>
                </span>
            </div>
            <hr>
            <div class="feet_row_copy">
                <span>&copy; 2022 Creado por Codelite</span>
            </div>
        </footer>
    </div>
    <script src="../js/main.js" type="module"></script>
    <script src="../js/modulos/materialize.js"></script>
    <script src="../js/sin_modulos.js" nomodule></script>
</body>
</html>