<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Formulario de contacto</title>
</head>
<link rel="stylesheet" href="contactanos.css">
<body>
    <div class="contenedor">
        <form action="" class="form">
            <div class="form-header">
                <h1 class="form-title">C<span>ontáctanos</span></h1>
            </div>

            <label for="nombre" class="form-label">Nombre(s)</label>
            <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre" pattern="[A-Za-z]{3,254}">

            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" class="form-input" placeholder="Escriba sus apellidos" pattern="[A-Za-z]{2,254}">

            <label for="correo" class="form-label">Correo electrónico</label>
            <input type="email" id="correo" class="form-input" placeholder="Escriba su correo" pattern="[A-Za-z0-9.+-_]+@[a-z]+\.[a-z]{2,3}">

            <label for="mensaje" class="form-label">Mensaje</label>
           <textarea id="mensaje" class="form-textarea" placeholder="Escribe aquí tu mensaje" pattern="[A-Za-z0-9]"></textarea>

           <input type="submit" class="btn-submit" value="Enviar consulta">
        </form>
    </div>

</body>
</html>