<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Formulario de contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="contenedor">
        <form action="" class="form">
            <div class="form-header">
                <h1 class="form-title">P<span>roducto</span></h1>
            </div>

            <label for="categoria" class="form-label">Categoría</label>
            <input type="text" id="categoria" class="form-input" placeholder="Escriba nombre de categoria" pattern="[A-Za-z]">

            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-input" placeholder="Escriba nombre del producto" pattern="[A-Za-z]">

            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" id="descripcion" class="form-input" placeholder="Escriba descripción" pattern="[A-Za-z]">

           <input type="submit" class="btn-submit" value="Enviar consulta">
        </form>
    </div>

</body>
</html>