.form-title{
    font-weight: normal;
    font-family: sans-serif;
    color: #ffffff; 
    text-align:center;
    padding: 14px 0px;
    font-size: 4em;
}
.form-title span{
    color: rgb(255, 255, 255);
}

.form{
    background: hsla(4, 85%, 42%, 0.531);
    width: 88%;
    max-width: 658px;
    margin: auto;
    padding: 4px 28px;
    border-radius: 4%;
    margin-top: 38px;
    padding-bottom: 38px;
    border-radius: 3px ;
}

.form-label{
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
}
.form label a{
    color: var(--color_a);
    font-size: 1rem;
}
.form select{
    display: initial;
}
.form label[for="stock"]{
    font-size: 1rem;
}
.form input[type="radio"]{
    border: 0px;
    width: 20px;
    height: 20px;
    padding: 40px;
    position: relative !important;
    opacity: 1 !important;
    pointer-events:visible !important;
}

.form-input, .form-textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid #fb1414;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-submit{
    margin: 0 auto;
}
/* Edicion formulario de crud */
.form-edit select{
    display: block !important;
}


