@import url(colores.css);
.i_head{
    width: 100%;
    height: 100vh;
    border-radius: 0% 0% 2% 2%;
    background-image: url(./../../assets/image/fotos/diablito.webp);
    background-repeat: no-repeat;
    background-size: cover;
    transition: animation .2s linear;
    animation: fondo 20s infinite;
    margin-bottom: 10px;
}
.capa{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.280);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.capa_titulo{
    color: #fff;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4.8rem;
}
.capa_subtitulo{
    color: #fff;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}
.i_body{
    width: 100%;
    height: 330vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.i_body_nosotros{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.i_body_parallax{
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 2%;
    margin-left: 2%;
    background-image: url(./../../assets/image/fotos/fuego.webp);
    background-repeat: no-repeat;
    background-size:50% 100%;
    background-attachment: fixed;
}
.i_body_texto{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.i_body_titulo{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.i_body_p{
    width: 80%;
    text-align: justify;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: .6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.i_body_galleria{
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.galeria_contenedor{
    display: inline-block;
    width: 20%;
    height: 40%;
    margin: 1% 2%;
    border-radius: 2%;
    transition: transform 1s;
    overflow: hidden;
}
/* .galeria_contenedor:hover{
    transform: scale(1.2);
} */
.galeria_contenedor img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    cursor: pointer;
    transition: transform 0.8s;
}
.galeria_contenedor img:hover{
    transform: scale(1.2);
}
.i_body_contacto{
    grid-column: 1/2;
    grid-row: 3/4;
    background:url(./../../assets/image/fotos/jalapeño.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
@keyframes fondo{
    0%{
        background-image:  url(./../../assets/image/fotos/diablito.webp);
    }
    10%{
        background-image: url(./../../assets/image/fotos/takis.webp);
    }
    35%{
        background-image: url(./../../assets/image/fotos/bbq.webp);
    }
    60%{
        background-image: url(./../../assets/image/fotos/queso_con_jalapeño.webp);
    }
    85%{
        background-image: url(./../../assets/image/fotos/chipotle.webp);
    }
    100%{
        background-image: url(./../../assets/image/fotos/diablito.webp);
    }
}
/* media para dispositivos grandes del grid */
@media (min-width:1400px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 1fr;
        gap: 8px;
    }
}
/* media para dispositivos tablets del grid */
@media (min-width:601px) and (max-width:990px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 6vh 1fr;
        gap: 4px;
    }
}
/* media para dispositivos moviles del grid */
@media (max-width:600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 6vh 1fr;
        gap: 2px;
    }
}